/* Заголовок вопроса */
.question-title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Кнопки для выбора вариантов */
.button-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option-button {
  flex: 1 1 calc(50% - 5px);
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button input[type="radio"],
.option-button input[type="checkbox"] {
  display: none;
}

.option-button span {
  display: block;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.option-button input[type="radio"]:checked + span,
.option-button input[type="checkbox"]:checked + span {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}

/* Чекбоксы -->
.checkbox-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
}

.checkbox-option input[type="checkbox"] {
  display: none;
}

.checkbox-option input[type="checkbox"]:checked + span {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}

/* Дополнительные кнопки */
.extra-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.extra-button {
  flex: 1 1 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.extra-button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.extra-button:hover {
  background-color: #007bff;
  color: white;
}

.extra-button:hover img {
  filter: brightness(0) invert(1);
}

.extra-button.telegram:hover {
  background-color: #007bff;
  color: white;
}

.extra-button.whatsapp:hover {
  background-color: #25D366;
  color: white;
}